use_flake() {
  watch_file flake.nix
  watch_file flake.lock
  mkdir -p "$(direnv_layout_dir)"
  eval "$(nix run nixpkgs.nixFlakes -c nix --experimental-features "nix-command flakes" print-dev-env --profile "$(direnv_layout_dir)/flake-profile")"
}

use flake
