name: "Test"
on:
  pull_request:
  push:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        # Nix Flakes doesn't work on shallow clones
        fetch-depth: 0
    - uses: cachix/install-nix-action@v12
      with:
        install_url: https://github.com/numtide/nix-flakes-installer/releases/download/nix-3.0pre20201007_5257a25/install
        # Configure Nix to enable flakes
        extra_nix_config: |
          experimental-features = nix-command flakes
    - uses: cachix/cachix-action@v8
      with:
        name: cclaw
        # If you chose signing key for write access
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
        # If you chose API tokens for write access OR if you have a private cache
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    # Run the general flake checks
    # Don't do this, since IFD makes the situation sad
    # - run: nix flake check
    #  working-directory: bnfc
    # Verify that the main program builds
    # - run: nix develop -L --profile dev-shell -c echo OK
    #   working-directory: bnfc
    # - run: cat dev-shell
    #   working-directory: bnfc
    - run: nix-shell --dry-run
      working-directory: bnfc

    # Verify that the main program builds
    - run: nix-shell --run "make test"
      working-directory: bnfc
